@page
@model ElearningApp.Pages.assessment.assessmentMarksModel
@{
    Layout = "~/Pages/Shared/_StudentLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Loader Card Example</title>
</head>
<body>
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-info">
                <span>@Model.Message</span>
            </div>
        }
    </div>
    <div class="col-md-5">
        <!-- Sidebar Card for High Marks -->
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Your Marks </h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Question</th>
                            <th scope="col">Status</th>
                            <th scope="col">Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Userlist)
                        {
                            <!-- Example list items (replace with actual data) -->
                            <tr>             
                                <td>@item.Item2.Question1</td> <!-- Accessing a property of Question -->
                                <td>@item.Item1.Status</td> <!-- Accessing a property of UserAnswer -->
                                <td>@item.Item1.Marks</td> <!-- Accessing another property of UserAnswer -->
                            </tr>
                        }
                        @foreach (var item in Model.list)
                        {
                        <tr>
                        <td>Totol Marks: @item.TotalScore</td>
                            </tr>
                        }
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UJihUE32oL0OV9PqQye4eUYlOz3qzAqxCnfzagID6zpk7zWeT+BqE2p5MIdNl2uX" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIbfcIbu5tNtLzmhHCF3p5U9xN" crossorigin="anonymous"></script>

</body>
</html>